USE [master]
GO
/****** Object:  Database [Vuokraus]    Script Date: 30.9.2021 15.06.03 ******/
CREATE DATABASE [Vuokraus]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Vuokraus', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Vuokraus.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Vuokraus_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Vuokraus_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Vuokraus].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Vuokraus]
GO
/****** Object:  Table [dbo].[tuote]    Script Date: 30.9.2021 15.06.03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tuote](
	[yksilointikoodi] [int] IDENTITY(1,1) NOT NULL,
	[tuoteryhma] [nvarchar](20) NOT NULL,
	[nimike] [nvarchar](40) NOT NULL,
	[merkki] [nvarchar](20) NOT NULL,
	[Malli] [nvarchar](20) NOT NULL,
	[paivavuokra] [float] NOT NULL,
 CONSTRAINT [tuote_pk] PRIMARY KEY CLUSTERED 
(
	[yksilointikoodi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[asiakas]    Script Date: 30.9.2021 15.06.03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asiakas](
	[asiakasnumero] [int] IDENTITY(1,1) NOT NULL,
	[yritys] [nvarchar](30) NOT NULL,
	[laskutusosoite] [nvarchar](30) NOT NULL,
	[postinumero] [nvarchar](10) NOT NULL,
	[postitoimipaikka] [nvarchar](30) NOT NULL,
 CONSTRAINT [asiakas_pk] PRIMARY KEY CLUSTERED 
(
	[asiakasnumero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vuokraus]    Script Date: 30.9.2021 15.06.03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vuokraus](
	[tapahtumaid] [int] IDENTITY(1,1) NOT NULL,
	[asiakasnumero] [int] NOT NULL,
	[yksilointikoodi] [int] NOT NULL,
	[alkamispaiva] [datetime] NOT NULL,
	[paattymispaiva] [datetime] NOT NULL,
 CONSTRAINT [vuokraus_pk] PRIMARY KEY CLUSTERED 
(
	[tapahtumaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vuokraukset]    Script Date: 30.9.2021 15.06.03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vuokraukset]
AS
SELECT        dbo.asiakas.yritys, dbo.tuote.nimike, dbo.tuote.merkki, dbo.tuote.Malli, dbo.tuote.paivavuokra, dbo.vuokraus.alkamispaiva, dbo.vuokraus.paattymispaiva, DATEDIFF(day, dbo.vuokraus.alkamispaiva, 
                         dbo.vuokraus.paattymispaiva) AS päiviä, DATEDIFF(day, dbo.vuokraus.alkamispaiva, dbo.vuokraus.paattymispaiva) * dbo.tuote.paivavuokra AS laskutus
FROM            dbo.asiakas INNER JOIN
                         dbo.vuokraus ON dbo.asiakas.asiakasnumero = dbo.vuokraus.asiakasnumero INNER JOIN
                         dbo.tuote ON dbo.vuokraus.yksilointikoodi = dbo.tuote.yksilointikoodi
GO
/****** Object:  View [dbo].[LaskutusTuotteittain]    Script Date: 30.9.2021 15.06.03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[LaskutusTuotteittain]
AS
SELECT        dbo.tuote.nimike, dbo.tuote.merkki, dbo.tuote.Malli, SUM(DATEDIFF(day, dbo.vuokraus.alkamispaiva, dbo.vuokraus.paattymispaiva) * dbo.tuote.paivavuokra) AS laskutus
FROM            dbo.tuote INNER JOIN
                         dbo.vuokraus ON dbo.tuote.yksilointikoodi = dbo.vuokraus.yksilointikoodi
GROUP BY dbo.tuote.nimike, dbo.tuote.merkki, dbo.tuote.Malli
GO
/****** Object:  View [dbo].[LaskutusTuoteryhmittäin]    Script Date: 30.9.2021 15.06.03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[LaskutusTuoteryhmittäin]
AS
SELECT        dbo.tuote.tuoteryhma, SUM(DATEDIFF(day, dbo.vuokraus.alkamispaiva, dbo.vuokraus.paattymispaiva) * dbo.tuote.paivavuokra) AS laskutus
FROM            dbo.tuote INNER JOIN
                         dbo.vuokraus ON dbo.tuote.yksilointikoodi = dbo.vuokraus.yksilointikoodi
GROUP BY dbo.tuote.tuoteryhma
GO
/****** Object:  View [dbo].[KeskivuokraAikaTuoteryhmittäin]    Script Date: 30.9.2021 15.06.03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[KeskivuokraAikaTuoteryhmittäin]
AS
SELECT        dbo.tuote.tuoteryhma, AVG(DATEDIFF(day, dbo.vuokraus.alkamispaiva, dbo.vuokraus.paattymispaiva) * dbo.tuote.paivavuokra) AS AikaKeskimäärin
FROM            dbo.tuote INNER JOIN
                         dbo.vuokraus ON dbo.tuote.yksilointikoodi = dbo.vuokraus.yksilointikoodi
GROUP BY dbo.tuote.tuoteryhma
GO
/****** Object:  Table [dbo].[tuoteryhma]    Script Date: 30.9.2021 15.06.03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tuoteryhma](
	[tuoteryhma] [nvarchar](20) NOT NULL,
 CONSTRAINT [tuoteryhma_pk] PRIMARY KEY CLUSTERED 
(
	[tuoteryhma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yhteyshenkilo]    Script Date: 30.9.2021 15.06.03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yhteyshenkilo](
	[yhteyshenkilo_id] [int] IDENTITY(1,1) NOT NULL,
	[yhteystyyppi] [nvarchar](20) NOT NULL,
	[etunimi] [nvarchar](20) NOT NULL,
	[sukunimi] [nvarchar](30) NOT NULL,
	[puhelin] [nvarchar](15) NULL,
	[sahkoposti] [nvarchar](40) NOT NULL,
	[asiakasnumero] [int] NOT NULL,
 CONSTRAINT [yhteyshenkilo_pk] PRIMARY KEY CLUSTERED 
(
	[yhteyshenkilo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yhteystyyppi]    Script Date: 30.9.2021 15.06.03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yhteystyyppi](
	[yhteystyyppi] [nvarchar](20) NOT NULL,
 CONSTRAINT [yhteystyyppi_pk] PRIMARY KEY CLUSTERED 
(
	[yhteystyyppi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[asiakas] ON 

INSERT [dbo].[asiakas] ([asiakasnumero], [yritys], [laskutusosoite], [postinumero], [postitoimipaikka]) VALUES (1, N'Raseko', N'Purokatu 1', N'21200', N'Raisio')
INSERT [dbo].[asiakas] ([asiakasnumero], [yritys], [laskutusosoite], [postinumero], [postitoimipaikka]) VALUES (2, N'Mähönen Oy', N'Kuormakatu 2', N'21200', N'Raisio')
INSERT [dbo].[asiakas] ([asiakasnumero], [yritys], [laskutusosoite], [postinumero], [postitoimipaikka]) VALUES (3, N'Autoliike Petos & Vilppi Ky', N'Keskuskatu 22', N'23100', N'Mynämäki')
SET IDENTITY_INSERT [dbo].[asiakas] OFF
GO
SET IDENTITY_INSERT [dbo].[tuote] ON 

INSERT [dbo].[tuote] ([yksilointikoodi], [tuoteryhma], [nimike], [merkki], [Malli], [paivavuokra]) VALUES (1, N'Sähkötyökalut', N'Akkuporakone', N'Bosch', N'GX120', 8)
INSERT [dbo].[tuote] ([yksilointikoodi], [tuoteryhma], [nimike], [merkki], [Malli], [paivavuokra]) VALUES (2, N'Nostimet', N'Henkilönostin', N'Dino', N'1200', 60)
INSERT [dbo].[tuote] ([yksilointikoodi], [tuoteryhma], [nimike], [merkki], [Malli], [paivavuokra]) VALUES (3, N'Telineet', N'Taso', N'Protools', N'100 x 300', 3)
SET IDENTITY_INSERT [dbo].[tuote] OFF
GO
INSERT [dbo].[tuoteryhma] ([tuoteryhma]) VALUES (N'Nostimet')
INSERT [dbo].[tuoteryhma] ([tuoteryhma]) VALUES (N'Sähkötyökalut')
INSERT [dbo].[tuoteryhma] ([tuoteryhma]) VALUES (N'Telineet')
GO
SET IDENTITY_INSERT [dbo].[vuokraus] ON 

INSERT [dbo].[vuokraus] ([tapahtumaid], [asiakasnumero], [yksilointikoodi], [alkamispaiva], [paattymispaiva]) VALUES (2, 1, 2, CAST(N'2021-09-15T00:00:00.000' AS DateTime), CAST(N'2021-09-22T00:00:00.000' AS DateTime))
INSERT [dbo].[vuokraus] ([tapahtumaid], [asiakasnumero], [yksilointikoodi], [alkamispaiva], [paattymispaiva]) VALUES (3, 2, 1, CAST(N'2021-09-16T00:00:00.000' AS DateTime), CAST(N'2021-09-17T00:00:00.000' AS DateTime))
INSERT [dbo].[vuokraus] ([tapahtumaid], [asiakasnumero], [yksilointikoodi], [alkamispaiva], [paattymispaiva]) VALUES (8, 1, 3, CAST(N'2021-09-29T00:00:00.000' AS DateTime), CAST(N'2021-10-05T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[vuokraus] OFF
GO
SET IDENTITY_INSERT [dbo].[yhteyshenkilo] ON 

INSERT [dbo].[yhteyshenkilo] ([yhteyshenkilo_id], [yhteystyyppi], [etunimi], [sukunimi], [puhelin], [sahkoposti], [asiakasnumero]) VALUES (1, N'Laskutus', N'Mikko', N'Karilainen', N'044 705 7473', N'mikko.karilainen@raseko.fi', 1)
INSERT [dbo].[yhteyshenkilo] ([yhteyshenkilo_id], [yhteystyyppi], [etunimi], [sukunimi], [puhelin], [sahkoposti], [asiakasnumero]) VALUES (2, N'Toimitus', N'Mika', N'Hakala', N'077 705 7420', N'mika.hakala@raseko.fi', 1)
SET IDENTITY_INSERT [dbo].[yhteyshenkilo] OFF
GO
INSERT [dbo].[yhteystyyppi] ([yhteystyyppi]) VALUES (N'Laskutus')
INSERT [dbo].[yhteystyyppi] ([yhteystyyppi]) VALUES (N'Toimitus')
GO
ALTER TABLE [dbo].[tuote]  WITH CHECK ADD  CONSTRAINT [tuoteryhma_tuote_fk] FOREIGN KEY([tuoteryhma])
REFERENCES [dbo].[tuoteryhma] ([tuoteryhma])
GO
ALTER TABLE [dbo].[tuote] CHECK CONSTRAINT [tuoteryhma_tuote_fk]
GO
ALTER TABLE [dbo].[vuokraus]  WITH CHECK ADD  CONSTRAINT [asiakas_vuokraus_fk] FOREIGN KEY([asiakasnumero])
REFERENCES [dbo].[asiakas] ([asiakasnumero])
GO
ALTER TABLE [dbo].[vuokraus] CHECK CONSTRAINT [asiakas_vuokraus_fk]
GO
ALTER TABLE [dbo].[vuokraus]  WITH CHECK ADD  CONSTRAINT [tuote_vuokraus_fk] FOREIGN KEY([yksilointikoodi])
REFERENCES [dbo].[tuote] ([yksilointikoodi])
GO
ALTER TABLE [dbo].[vuokraus] CHECK CONSTRAINT [tuote_vuokraus_fk]
GO
ALTER TABLE [dbo].[yhteyshenkilo]  WITH CHECK ADD  CONSTRAINT [asiakas_yhteyshenkilo_fk] FOREIGN KEY([asiakasnumero])
REFERENCES [dbo].[asiakas] ([asiakasnumero])
GO
ALTER TABLE [dbo].[yhteyshenkilo] CHECK CONSTRAINT [asiakas_yhteyshenkilo_fk]
GO
ALTER TABLE [dbo].[yhteyshenkilo]  WITH CHECK ADD  CONSTRAINT [yhteystyyppi_yhteyshenkilo_fk] FOREIGN KEY([yhteystyyppi])
REFERENCES [dbo].[yhteystyyppi] ([yhteystyyppi])
GO
ALTER TABLE [dbo].[yhteyshenkilo] CHECK CONSTRAINT [yhteystyyppi_yhteyshenkilo_fk]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tuote"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 178
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "vuokraus"
            Begin Extent = 
               Top = 31
               Left = 344
               Bottom = 161
               Right = 514
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 8220
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'LaskutusTuoteryhmittäin'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'LaskutusTuoteryhmittäin'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[43] 4[27] 2[5] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tuote"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 168
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "vuokraus"
            Begin Extent = 
               Top = 1
               Left = 311
               Bottom = 151
               Right = 481
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 3930
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'LaskutusTuotteittain'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'LaskutusTuotteittain'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[44] 4[16] 2[11] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "asiakas"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 154
               Right = 215
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "vuokraus"
            Begin Extent = 
               Top = 5
               Left = 336
               Bottom = 154
               Right = 506
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tuote"
            Begin Extent = 
               Top = 12
               Left = 603
               Bottom = 175
               Right = 773
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 8085
         Alias = 900
         Table = 1170
         Output = 1530
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vuokraukset'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vuokraukset'
GO
USE [master]
GO
